{
  "title": "{{ name }}",
  "category": "LOGIN",
  "urls": [
    {
      "primary": true,
      "href": "{{ url | default }}"
    }
  ],
  "fields": [
    {
      "id": "username",
      "type": "STRING",
      "purpose": "USERNAME",
      "label": "username",
      "value": "{{ username | default }}"
    },
    {
      "id": "password",
      "type": "CONCEALED",
      "purpose": "PASSWORD",
      "label": "password",
      "value": "{{ password }}"
    }
  ]
}
